main.home {
  flex: 1;
  overflow: auto;
}

.seccion-texto {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.autor {
  font-weight: 200;
  color: #144556;
}

.texto-contenido {
  overflow: scroll;
  font-weight: 200;
  color: #144556;
  padding: 40px 0px 0px 0px;
  line-height: 2;
}

.texto-autor {
  padding: 50px 30px 90px 27px;
}

.botones {
  padding: 60px 0px 0px 0px;
}

.boton-borrar {
  display: inline;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #bc4e4e;
  border: none;
  border-radius: 15px;
  width: 200px;
  height: 45px;
  margin-top: 12px;
}

.boton-editar {
  display: inline;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4eb7bc;
  border: none;
  border-radius: 15px;
  width: 200px;
  height: 45px;
}
