main.ficcion {
  flex: 1;
}

main.ficcion .banner {
  background-image: url("../assets/ficcion-banner.png");
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
}

main.ficcion .banner div {
  width: 100%;
  height: 100%;
  background-color: rgba(133, 78, 188, 0.68);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

main.ficcion .busqueda {
width: 330px;
height: 51px;
margin: 60px;
}

main.ficcion .busqueda .input{
background: #FFFFFF;
border: 1px solid #919191;
box-sizing: border-box;
border-radius: 10px;
}

main.ficcion .textos {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: space-between;
  width: 70%;
  margin: 60px auto;
}

main.ficcion .texto{
  display: flex;
  align-items: center;
  text-align: center;
  height: 130px;
  width: 350px;
  background-color: rgba(133, 78, 188, 0.68);
  border-radius: 25px;
}

main.ficcion .texto h3{
  color: #FFFFFF;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
}

main.ficcion .texto h4{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}