.perfil section {
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 40px 15px;
}

.perfil .main-container {
  background: #ffffff;
  box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  text-align: center;
  width: 100%;
  max-width: 1120px;
  display: flex;
  justify-content: space-between;
}

.form-container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container.password {
  width: 30%;
}

.form-container.edicion .up-form,
.form-container .text-form .up-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.up-form .form-inner-container {
  width: 50%;
  margin: 0 10px;
  text-align: left;
}

.down-form {
  margin: 0 10px;
}

.tab-container {
  border-left: 2px solid #4eb7bc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tab-container a {
  display: block;
}

.text-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text-form .down-form {
  flex: 1;
}

.text-form .down-form .input-container {
  height: 100%;
}
.text-form .down-form textarea {
  height: 85%;
}
